@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="border Form-background">
    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.FirstName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.FirstName" class="form-control" />
            </div>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.LastName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.LastName" class="form-control" />
            </div>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Email" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Email" class="form-control" />
            </div>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.DirectorateId" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select asp-for="Input.DirectorateId" class="form-control" asp-items="ViewBag.DirectorateId"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.DepartmentId" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select asp-for="Input.DepartmentId" class="form-control" asp-items="ViewBag.DirectorateId"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.SectionId" class="col-form-label"></label>

            </div>
            <div class="col-5">
                <select asp-for="Input.SectionId" class="form-control" asp-items="ViewBag.DirectorateId"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Password" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.Password" class="form-control" />
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
        </div>


    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
